.l-contents{
	width: 100%;
	height: auto;
	&.-card{
		// padding: 5% 1%;
		background: white;
		filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
		@include mq(tb){
			padding: 5% 1%;
		}
		@include mq(tb-pc1600){
			padding: 5% 3%;
		}
	}
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					background-image: url(../images/bg/header_bg_s.jpg);
					@include mq(tb){
						background-image: url(../images/bg/header_bg.jpg);
					}
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			&.-f-view_text{
				right: 5%;
				bottom: 6%;
				width: auto;
				@include mq(tb){
					right: 0;
					bottom: -6%;
					// transform: translate(-50%, -50%);
				}
			}
			&.-youtubeBox{
				top: 88%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 75%;
				@include mq(tb){
					top: 83%;
					left: 25.4%;
					width: 33.3333%;
				}
			}

			//サイト右側中段に表示 （PCのみ）
			&.-right-topBtn{
				top: 2.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-right-btmBtn{
				top: 52.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			//サイト下部に表示 （SPのみ）
			&.-bottom-rightBtn{
				top: 0%;
				left: 75%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-bottom-leftBtn{
				top: 0%;
				left: 25%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}


			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	// 設備・仕様ページの【 戻る 】
	&.-btnArea{
		&.-return{
			a{
				display: block;
				width: 20%;
				border-radius: 5px;
				overflow: hidden;
				margin: auto;
				text-align: center;
				box-shadow: 1px 1px gray;
				@include mq(tb){
					width: 10%;
				}
				@include mq(tb-pc1400){
					width: 6%;
				}
			}
		}
	}
}


